[submodule "packages/re-jump.el"]
	path = packages/re-jump.el
	url = https://github.com/oliyh/re-jump.el
[submodule "chrome-emacsclient"]
	path = packages/chrome-emacsclient
	url = ./packages/chrome-emacsclient/
[submodule "packages/dimmer.el"]
	path = packages/dimmer.el
	url = https://github.com/gonewest818/dimmer.el
[submodule "packages/asana.el"]
	path = packages/asana.el
	url = https://github.com/bdo-labs/asana.el
